### Erlang
*.beam
*.plt
erl_crash.dump

# Rebar 3
rebar.lock
rebar3.crashdump
_build/

### JetBrains

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# IntelliJ
out/

### macOS

# General
.DS_Store
