[
    {elvis, [
        {config, [
            #{
                dirs => ["src/**", "test/**"],
                filter => "*.erl",
                ruleset => erl_files,
                rules => [
                    {elvis_text_style, line_length, #{limit => 120}},
                    {elvis_style, max_module_length},
                    {elvis_style, no_common_caveats_call}
                ]
            },
            #{
                dirs => ["."],
                filter => "rebar.config",
                ruleset => rebar_config,
                rules => []
            },
            #{
                dirs => ["."],
                filter => "elvis.config",
                ruleset => elvis_config,
                rules => []
            }
        ]}
    ]}
].
