[
    {elvis, [
        {config, [
            #{
                dirs => ["src/**", "test/**"],
                filter => "*.erl",
                ruleset => erl_files,
                rules => [
                    {elvis_text_style, line_length, disable},
                    % TODO Lower to 4 (default)
                    {elvis_style, nesting_level, #{level => 5}},
                    % TODO Enable and fix warnings
                    {elvis_style, dont_repeat_yourself, disable},
                    {elvis_style, max_module_length, disable},
                    % TODO Use logging module
                    {elvis_style, no_debug_call, disable},
                    {elvis_style, no_common_caveats_call},
                    % TODO Remove when UI is migrated to Java. This is to avoid hits from wx modules
                    {elvis_style, atom_naming_convention, disable}
                ]
            },
            #{
                dirs => ["."],
                filter => "rebar.config",
                ruleset => rebar_config,
                rules => []
            },
            #{
                dirs => ["."],
                filter => "elvis.config",
                ruleset => elvis_config,
                rules => []
            }
        ]}
    ]}
].
