{minimum_otp_vsn, "23.0"}.

{erl_opts,
  [
    debug_info,
    warn_export_vars,
    warn_unused_import
  ]}.

{deps, []}.

{project_plugins, [
  cauder_plugin,
  rebar3_lint
]}.

{provider_hooks,
  [
    {post, [
      {clean, cauder_plugin_prv_clean},
      {escriptize, cauder_plugin_prv_escript_link}
    ]}
  ]}.
