{minimum_otp_vsn, "23.0"}.

{erl_opts, [
    debug_info,
    warn_export_vars,
    warn_unused_import
]}.

{deps, []}.

{project_plugins, [
    cauder_plugin,
    rebar3_lint,
    erlfmt
]}.

{erlfmt, [
    write,
    {print_width, 120},
    {files, ["**/*.{hrl,erl,app.src}", "rebar.config", "elvis.config"]},
    {exclude_files, ["_build/**/*.*"]}
]}.

{provider_hooks, [
    {post, [
        {clean, cauder_plugin_prv_clean},
        {escriptize, cauder_plugin_prv_escript_link}
    ]}
]}.
